1. joinujemy informacje o ofercie z DF offer do informacji o kliencie z DF df2
2. robimy model gdzie labelem jest cliKed (kurwa)
3. żeby zrobić predykcje na nowym kliecie crossjoinujemy go z ofertami i robimy predykcje
4. oferta wybrana dla klienta to ta dla której wyjdzie największe prawdopodobieństwo kliknięcia

#### ew. jakieś grupowanie klientów

do zrobienia:
- join ofert do df
- ogarnięcie stringów
- OHE danych o ofercie
- jakaś normalizacja
- budujemy XGboosta, jakąś sieć, KNN
- porównanie modeli po accuracy, precision, recall
- XAI na jednej zmiennej albo dwóch
- przygotowanie wersji do pseudo-produkcji
- prezka

In [2]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_json('/Users/mkunstler/Downloads/lot_ub_uw_personalization_task/context_history.json')

In [43]:
df.head()

,context,cliked,request_dttm,offer_id
0,"{'booking': {'param1': 3, 'param2': 0, 'param3...",0,2023-02-20 00:54:42,OFFER_C_1_2_3_4_5
1,"{'booking': {'param1': 1, 'param2': 0, 'param3...",1,2023-02-20 00:54:42,OFFER_C_1_2_3_4_5
2,"{'booking': {'param1': 2, 'param2': 1, 'param3...",0,2023-02-20 00:54:42,OFFER_A_5_2_4_1_3
3,"{'booking': {'param1': 3, 'param2': 0, 'param3...",0,2023-02-20 00:54:42,OFFER_A_1_2_3_4_5
4,"{'booking': {'param1': 2, 'param2': 2, 'param3...",0,2023-02-20 00:54:42,OFFER_A_5_2_4_1_3

In [29]:
offer = pd.read_json('/Users/mkunstler/Downloads/lot_ub_uw_personalization_task/offer_features.json')

offer = pd.concat([offer.drop(['features'], axis=1), pd.DataFrame(offer['features'].to_list(), columns = ['Fet']).Fet.apply(pd.Series)], axis=1)

offer.head()

,id,schema,top_1_product,top_2_product,top_3_product,top_4_product,top_5_product,is_banner,products_offered,cta_number
0,OFFER_A_1_2_3_4_5,A,1,2,3,4,5,True,5,2
1,OFFER_B_1_2_3_4_5,B,1,2,3,4,5,False,5,2
2,OFFER_C_1_2_3_4_5,C,1,2,3,4,5,False,5,5
3,OFFER_D_1_2_3_4_5,D,1,2,3,4,5,True,3,2
4,OFFER_E_1_2_3_4_5,E,1,2,3,4,5,False,5,1

In [116]:
offer

,id,schema,top_1_product,top_2_product,top_3_product,top_4_product,top_5_product,is_banner,products_offered,cta_number
0,OFFER_A_1_2_3_4_5,A,1,2,3,4,5,True,5,2
1,OFFER_B_1_2_3_4_5,B,1,2,3,4,5,False,5,2
2,OFFER_C_1_2_3_4_5,C,1,2,3,4,5,False,5,5
3,OFFER_D_1_2_3_4_5,D,1,2,3,4,5,True,3,2
4,OFFER_E_1_2_3_4_5,E,1,2,3,4,5,False,5,1
5,OFFER_A_2_1_3_4_5,A,2,1,3,4,5,True,5,2
6,OFFER_B_2_1_3_4_5,B,2,1,3,4,5,False,5,2
7,OFFER_C_2_1_3_4_5,C,2,1,3,4,5,False,5,5
8,OFFER_D_2_1_3_4_5,D,2,1,3,4,5,True,3,2
9,OFFER_E_2_1_3_4_5,E,2,1,3,4,5,False,5,1
10,OFFER_A_4_1_2_3_5,A,4,1,2,3,5,True,5,2
11,OFFER_B_4_1_2_3_5,B,4,1,2,3,5,False,5,2
12,OFFER_C_4_1_2_3_5,C,4,1,2,3,5,False,5,5
13,OFFER_D_4_1_2_3_5,D,4,1,2,3,5,True,3,2
14,OFFER_E_4_1_2_3_5,E,4,1,2,3,5,False,5,1
15,OFFER_A_5_1_2_3_4,A,5,1,2,3,4,True,5,2
16,OFFER_B_5_1_2_3_4,B,5,1,2,3,4,False,5,2
17,OFFER_C_5_1_2_3_4,C,5,1,2,3,4,False,5,5
18,OFFER_E_5_1_2_3_4,E,5,1,2,3,4,False,5,1
19,OFFER_A_3_1_4_2_5,A,3,1,4,2,5,True,5,2
20,OFFER_B_3_1_4_2_5,B,3,1,4,2,5,False,5,2
21,OFFER_C_3_1_4_2_5,C,3,1,4,2,5,False,5,5
22,OFFER_D_3_1_4_2_5,D,3,1,4,2,5,True,3,2
23,OFFER_E_3_1_4_2_5,E,3,1,4,2,5,False,5,1
24,OFFER_A_5_2_4_1_3,A,5,2,4,1,3,True,5,2
25,OFFER_B_5_2_4_1_3,B,5,2,4,1,3,False,5,2
26,OFFER_C_5_2_4_1_3,C,5,2,4,1,3,False,5,5
27,OFFER_D_5_2_4_1_3,D,5,2,4,1,3,True,3,2
28,OFFER_E_5_2_4_1_3,E,5,2,4,1,3,False,5,1

In [62]:
context_table = pd.DataFrame(df['context'].to_list(), columns = ['booking', 'leg', "param1", "param2", "param3"])

booking = pd.DataFrame.from_records(context_table['booking'])
booking.columns = [x + "_booking" for x in booking.columns]

leg = pd.DataFrame.from_records(context_table['leg'])
leg.columns = [x + "_leg" for x in leg.columns]

context_table.drop(['booking', 'leg'], axis=1)
context_table.columns = [x + "_general" for x in context_table.columns]

In [73]:
df.drop(['context'], axis=1)
df2 = pd.concat([context_table, booking, leg, df], axis=1)

df2 = df2.drop(['booking_general', 'leg_general', 'context'], axis=1)

In [74]:
df2.head()

,param1_general,param2_general,param3_general,param1_booking,param2_booking,param3_booking,param4_booking,param5_booking,param6_booking,param7_booking,...,param8_leg,param9_leg,param10_leg,param12_leg,param13_leg,param14_leg,param15_leg,cliked,request_dttm,offer_id
0,1,0,d7202e9912cb41ddd9df71b6fe671bd0,3,0,0,2,3,22,4,...,1,0,2,91befdaafbf21c75a63fb0fb6d40d2d5,a85ee8a49e710f691d9688c3b68dbbc8034d0e2f6595b6...,c6b57d1bbfccb4c262bce0e014247ec5,9c0c9f48e51d24032bacb9a2daac3697,0,2023-02-20 00:54:42,OFFER_C_1_2_3_4_5
1,1,0,f07bc56e16b90ae5bf58b0f7c63aeaed,1,0,0,2,1,0,2,...,0,204,1,91befdaafbf21c75a63fb0fb6d40d2d5,a85ee8a49e710f691d9688c3b68dbbc8034d0e2f6595b6...,a49c05cb72f7f0abb3ed34a15fbe877c,9c0c9f48e51d24032bacb9a2daac3697,1,2023-02-20 00:54:42,OFFER_C_1_2_3_4_5
2,1,0,d7202e9912cb41ddd9df71b6fe671bd0,2,1,0,2,3,40,2,...,1,0,2,91befdaafbf21c75a63fb0fb6d40d2d5,a85ee8a49e710f691d9688c3b68dbbc8034d0e2f6595b6...,a49c05cb72f7f0abb3ed34a15fbe877c,9c0c9f48e51d24032bacb9a2daac3697,0,2023-02-20 00:54:42,OFFER_A_5_2_4_1_3
3,1,0,d7202e9912cb41ddd9df71b6fe671bd0,3,0,0,2,3,49,2,...,1,0,2,91befdaafbf21c75a63fb0fb6d40d2d5,a85ee8a49e710f691d9688c3b68dbbc8034d0e2f6595b6...,a49c05cb72f7f0abb3ed34a15fbe877c,9c0c9f48e51d24032bacb9a2daac3697,0,2023-02-20 00:54:42,OFFER_A_1_2_3_4_5
4,1,0,d7202e9912cb41ddd9df71b6fe671bd0,2,2,0,2,4,17,2,...,0,228,2,91befdaafbf21c75a63fb0fb6d40d2d5,a85ee8a49e710f691d9688c3b68dbbc8034d0e2f6595b6...,a49c05cb72f7f0abb3ed34a15fbe877c,9c0c9f48e51d24032bacb9a2daac3697,0,2023-02-20 00:54:42,OFFER_A_5_2_4_1_3

In [104]:
# Count the number of unique values in each column
unique_counts = df2.nunique()
unique_counts

param1_general         2
param2_general         1
param3_general        12
param1_booking        68
param2_booking         8
param3_booking         4
param4_booking         6
param5_booking        66
param6_booking        98
param7_booking         8
param8_booking        85
param9_booking        12
param10_booking       79
param11_booking       84
param12_booking        5
param13_booking        3
param14_booking       82
param15_booking        5
param16_booking       47
param1_leg            24
param2_leg            24
param3_leg            22
param4_leg             8
param5_leg            53
param6_leg             2
param7_leg            22
param8_leg             2
param9_leg          4789
param10_leg            6
param12_leg           47
param13_leg           47
param14_leg           78
param15_leg           78
cliked                 2
request_dttm       13735
offer_id              29
schema                 5
dtype: int64

In [103]:
df2['cliked'].value_counts()

0    496512
1    337555
Name: cliked, dtype: int64

In [78]:
df2['schema'] = df2['offer_id'].apply(lambda x: x.split("_")[1])

In [97]:
df3 = df2.loc[df2['cliked'] == 1]

In [105]:
features = ['param1_general', 'param2_general', 'param1_booking',
       'param2_booking', 'param3_booking', 'param4_booking', 'param5_booking',
       'param6_booking', 'param7_booking']
target = ['offer_id']

X_df = df3[features]
y_df = df3[target]

In [106]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size = 0.3, random_state = 30)

# define parameters' range
tree_param = [{'criterion': ['entropy'], 'max_depth': [15], 
              'min_samples_leaf': [5]}]

# perform fitting with cross-validation 
for metric in ['accuracy']:
    for n_folds in [3]:
        clf_gini = DecisionTreeClassifier()
        gini_grs = GridSearchCV(clf_gini, tree_param, scoring=metric, cv=n_folds, verbose=1)
        gini_grs.fit(X_train, y_train)
        print('Number of folds =' , n_folds,',', metric, gini_grs.bestscore, gini_grs.bestparams)

Fitting 3 folds for each of 1 candidates, totalling 3 fits

AttributeError: 'GridSearchCV' object has no attribute 'bestscore'

In [107]:
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


dtree_model = RandomForestClassifier().fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)

/var/folders/dc/k7crvlf16t786rmzsdp6xqs00000gn/T/ipykernel_79469/3231286087.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  dtree_model = RandomForestClassifier().fit(X_train, y_train)

In [108]:
confusion_matrix(y_test, dtree_predictions)

array([[  43,    0,   14,   17,   14,   16,    5,    8,  157,   14,   40,
          27,   31,    3,   28,    3,  149,  137,   24,    0,   32,   35,
        2188,   41,    3,   61,   16,   28,   21],
       [   4,    6,    5,    3,    4,    9,    1,    7,   25,    4,   15,
           7,    1,    0,    8,    0,   39,   17,    5,    2,   23,   10,
         555,    7,    4,    6,    4,   11,    8],
       [   8,    4,   58,   19,   19,   23,   13,    2,  140,   14,   53,
          45,   30,    1,   45,   10,  144,  172,   25,    3,   43,   35,
        2156,   41,    4,   72,   12,   28,   29],
       [   8,    3,   10,   67,   10,   14,   15,    6,  155,   21,   46,
          26,   39,    1,   49,   11,  157,  196,   32,   10,   47,   24,
        2504,   46,    2,  100,   20,   28,   20],
       [   6,    1,   12,   19,   44,   20,   18,    3,  136,    9,   38,
          33,   27,    2,   45,    2,  162,  188,   22,    1,   28,   25,
        1948,   36,    5,   86,    6,   27,   17],
       [   8,    4,   19,   27,   16,   88,    9,    6,  164,   17,   52,
          40,   40,    0,   61,   10,  165,  179,   28,    3,   47,   34,
        2334,   47,    1,   87,   13,   21,   35],
       [   8,    0,    8,   24,   10,   19,   46,    2,  164,   11,   40,
          31,   31,    1,   47,    9,  166,  162,   21,    4,   39,   36,
        2293,   27,    0,   77,   15,   34,   17],
       [   0,    1,    1,    2,    1,    6,    9,   11,   21,    0,   18,
          11,    0,    0,   12,    3,   45,   22,    1,    5,   18,   11,
         549,    5,    1,    3,    3,    3,    6],
       [  11,    5,   20,   32,   21,   35,   22,    6,  336,   29,   60,
          58,   47,    2,   53,   10,  229,  266,   31,   11,   60,   55,
        3867,   73,    6,  132,   11,   37,   40],
       [  14,    2,   17,   15,    8,   26,   11,    3,  132,   51,   44,
          31,   21,    6,   34,    7,  142,  181,   21,    3,   37,   35,
        2159,   35,    1,   58,   12,   27,   23],
       [  16,    1,   12,   27,   14,   32,   18,    4,  221,   10,  110,
          45,   41,    2,   58,   10,  235,  232,   35,    6,   45,   36,
        3060,   64,    1,  107,   26,   44,   34],
       [  10,    4,   16,   29,   21,   26,   13,    5,  160,   28,   56,
         106,   31,    4,   61,    7,  184,  218,   28,    3,   59,   48,
        2944,   64,    1,  100,   18,   33,   30],
       [   7,    1,   18,   22,   12,   25,   12,    4,  185,   11,   44,
          45,  109,    0,   56,   11,  210,  215,   29,    2,   41,   34,
        2592,   51,    2,   94,   14,   38,   25],
       [   0,    0,    4,    1,    4,    5,    3,    2,   16,    1,    9,
           9,    0,    4,    3,    2,   24,   14,    5,    1,   15,    8,
         456,    4,    1,    1,    5,    3,    5],
       [   8,    1,    9,   29,   15,   17,   15,    7,  180,   19,   54,
          38,   47,    4,  127,    5,  164,  213,   38,    4,   48,   53,
        2763,   55,    3,   93,   20,   43,   33],
       [   2,    5,   13,   24,    6,   15,   12,    1,  142,   10,   37,
          26,   32,    1,   32,   31,  122,  152,   20,    5,   24,   22,
        1829,   20,    2,   67,   11,   16,   22],
       [  12,    5,   20,   38,   16,   29,   20,    5,  277,   22,   56,
          53,   30,    0,   55,   10,  366,  287,   34,    4,   57,   60,
        3769,   48,    2,  144,   15,   45,   56],
       [  19,    3,   24,   33,   25,   42,   23,    6,  252,   28,   59,
          55,   40,    1,   70,   12,  203,  412,   46,    8,   65,   43,
        3702,   64,    1,  161,   21,   44,   40],
       [   4,    0,   15,   21,   14,   25,   20,    3,  129,   19,   42,
          30,   32,    1,   51,    5,  134,  156,   86,    4,   34,   23,
        2262,   42,    3,   91,   14,   22,   21],
       [   0,    2,    2,    3,    0,    2,    5,    2,   23,    4,    7,
           7,   13,    1,    3,    1,   44,   22,    4,    7,   15,    7,
         585,    3,    2,    8,    7,    6,    6],
       [  12,    1,   11,   36,   14,   25,   12,    2,  189,   21,   46,
          34,   32,    0,   67,   10,  182,  220,   33,    4,  118,   33,
        3057,   45,    2,   76,   12,   36,   33],
       [  11,    3,   19,   22,   12,   19,   13,    8,  138,   17,   50,
          24,   35,    6,   52,    7,  177,  188,   14,    2,   40,   90,
        2544,   56,    3,   83,   23,   30,   23],
       [  22,    4,   29,   45,   30,   50,   38,   17,  339,   43,  105,
          89,   66,    9,   86,   17,  333,  368,   55,    7,   94,   68,
        5512,   84,    7,  180,   32,   51,   55],
       [  20,    1,   20,   31,    8,   30,   17,    0,  153,   14,   60,
          22,   36,    2,   59,    5,  182,  182,   21,   10,   41,   32,
        2499,  107,    3,   91,   10,   35,   26],
       [   5,    3,    0,    1,    2,    3,    4,    2,   21,    2,    7,
           3,    3,    0,    3,    0,   36,   13,    9,    6,    9,   22,
         489,    5,   11,    4,    5,    6,    3],
       [   8,    1,   19,   27,   15,   26,   23,    2,  162,   25,   48,
          39,   38,    1,   69,   10,  177,  228,   35,    4,   59,   43,
        2893,   35,    0,  181,   17,   36,   25],
       [   4,    3,   15,   20,   11,   26,   11,    4,  131,   13,   37,
          31,   30,    1,   38,    7,  149,  138,   18,    8,   51,   31,
        2329,   36,    1,  100,   44,   28,   25],
       [  15,    0,   23,   21,   14,   24,   12,    4,  167,    6,   59,
          23,   43,    0,   50,    9,  156,  186,   19,    9,   43,   32,
        2581,   46,    1,  102,   18,   79,   31],
       [  11,    3,   16,   28,   11,   26,   23,    2,  190,   21,   55,
          27,   46,    3,   47,   14,  176,  235,   29,    1,   50,   37,
        2757,   37,    0,   96,   22,   46,   82]])

In [109]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, dtree_predictions)

0.08227754352355654

In [110]:
1/29

0.034482758620689655

In [115]:
df3.offer_id.value_counts()

OFFER_D_5_2_4_1_3    26148
OFFER_B_3_1_4_2_5    18584
OFFER_C_5_1_2_3_4    18471
OFFER_C_5_2_4_1_3    18121
OFFER_B_5_1_2_3_4    15176
OFFER_B_5_2_4_1_3    14908
OFFER_D_3_1_4_2_5    14429
OFFER_E_3_1_4_2_5    14307
OFFER_C_3_1_4_2_5    13712
OFFER_E_5_2_4_1_3    13391
OFFER_C_1_2_3_4_5    12804
OFFER_E_5_1_2_3_4    12771
OFFER_E_1_2_3_4_5    12411
OFFER_A_4_1_2_3_5    12368
OFFER_D_4_1_2_3_5    12099
OFFER_A_5_2_4_1_3    11900
OFFER_B_1_2_3_4_5    11194
OFFER_E_4_1_2_3_5    11041
OFFER_D_1_2_3_4_5    11009
OFFER_A_3_1_4_2_5    10709
OFFER_A_1_2_3_4_5    10692
OFFER_B_4_1_2_3_5    10316
OFFER_A_5_1_2_3_4     9932
OFFER_C_4_1_2_3_5     8842
OFFER_A_2_1_3_4_5     2694
OFFER_D_2_1_3_4_5     2654
OFFER_B_2_1_3_4_5     2433
OFFER_E_2_1_3_4_5     2349
OFFER_C_2_1_3_4_5     2090
Name: offer_id, dtype: int64